a {
    display: inline-block;
    padding: 50px 100px;
    font-size: 18px;
    background-color: #4CAF50;
    color: rgb(253, 143, 69);
    text-decoration: none;
    border-radius: 6px;
}

a:hover {
    background-color: #43a047;
}